#banner {
    position: relative;

    .banner_top,
    .banner_bottom {
        position: absolute;
        z-index: -1;

        img {
            width: 100%;
            height: auto;
        }
    }

    .banner_top {
        top: 0;
        right: 0;
        left: 0;
    }

    .banner_bottom {
        bottom: 0;
        right: 0;
        left: 0;
    }

    .banner_content {
        padding: 60px 0;

        .banner_content-left {
            display: flex;
            height: 100%;
            justify-content: center;
            flex-direction: column;
            p{
                @include styleText($fs-3,$fw-1,$test-color-3)
            }
            h1{
                @include styleText($fs-4,$fw-3,$test-color-1)
            }
        }
    }
}