$fs-1 : 13px;
$fs-2 : 13.5px;
$fs-3 : 16.5px;
$fs-4 : 57px;




$fw-1 : 600;
$fw-2 : 500;    
$fw-3 : 700;

$test-color-1: #181818;
$test-color-2: #fff;
$test-color-3: #b61984;

$bg-1: #b61984;
$bg-2: #fff;
$bg-3: #dcd1f3;